body {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    transition: all 0.5s;
}

.nav-scrolled {
    background-color: #fff;
    color: #272727;
}

.nav-violet {
    background-color: #a46fda;
}

#btnLogin.nav-scrolled {
    background-color: #a46fda;
    color: #fff;
    transition: all 0.5s;
}

.btn-violet {
    background-color: #a46fda;
    color:#fff;
    transition: 0.2s;
}

.btn-violet:hover {
    background-color: #855aaf;
    color: #fff;
}

.btns{
    display: table;
    margin: 30px auto;
}
.btn-next, .btn-prev {
    float: left;
    background: #a46fda;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.bg-violet {
    background: #a46fda;
    color: #fff;
}

.text-violet {
    color: #a46fda;
}

.text-violet:hover {
    color: #855aaf;
}

.img-detail {
    max-height: 12rem;
}

.tag-item {
    font-size: 0.8rem;
}

.list-psikolog {
    max-height: 85vh;
}

.list-psikolog::-webkit-scrollbar {
    width: 12px;
}

.list-psikolog::-webkit-scrollbar-thumb {
    background-color: linear-gradient(transparent, #1d1d1d);
    border-radius: 6px;
}

.list-psikolog::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(transparent, #272727);
}
